{% extends 'index.html' %}
{% block ace-content %}
    <script type="text/javascript" src="/static/dist/js/bootstrap-notify.js"></script>
{% endblock %}
{% block page-content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa   fa-dashboard"></i>合规策略</h1>
            </div>
        </div>
        <!--    策略组 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group btn-group-xs pull-right">
                            <button type="button" class="btn btn-default"><a href="#" data-toggle="modal"
                                                                             data-target="#myAssetsImportModal"><i
                                    class="fa fa-pencil fa-fw"></i>批量导入</a></button>
                            <button type="button" class="btn btn-default" onclick="fcDumpsAssetsData(this)"><i
                                    class="fa fa-refresh fa-fw"></i>导出资产
                            </button>
                            <button type="button" class="btn btn-default" onclick="updateAllAssets(this,'update')"><i
                                    class="fa fa-refresh fa-fw"></i>批量更新
                            </button>
                            <button type="button" class="btn btn-default" onclick="updateAllAssets(this,'delete')"><i
                                    class="fa fa-trash-o fa-fw"></i>批量删除
                            </button>
                        </div>
                        <i class="fa fa-database"></i>策略组列表

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <a class="btn btnbtn-xs btn-default" href="/baseline/RegexGroupAdd/"><i
                                class="glyphicon glyphicon-plus">新增</i></a>
                        <a class="btn btnbtn-xs btn-default" href="/baseline/RegexGroupAdd/"><i
                                class="glyphicon  glyphicon-ok-sign">全部启用</i></a>
                        <a class="btn btnbtn-xs btn-default" href="/baseline/RegexGroupAdd/"><i
                                class="glyphicon  glyphicon-remove-sign">全部停用</i></a>
                        <a class="btn btnbtn-xs btn-default" href="/baseline/RegexGroupAdd/"><i
                                class="glyphicon glyphicon-check">启动检查</i></a>
                        <a class="btn btnbtn-xs btn-default" href="/baseline/RegexGroupAdd/"><i
                                class="glyphicon glyphicon-refresh">刷新</i></a>
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="assetsListTable">
                            <thead>
                            <tr>



                                <th class="text-center">名称</th>
                                <th class="text-center">描述</th>
                                <th class="text-center">是否启用</th>
                                <th class="text-center">类型</th>
                                <th class="text-center">修改</th>
                                <th class="text-center">复制</th>
                                <th class="text-center">删除</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for group in  regexgrouplist %}
                                <tr class="odd gradeX">


                                    <td class="text-center">
                                        <a href="/baseline/RegexGroupDetail/{{ group.group_id }}"
                                           style="text-decoration:none;">{{ group.group_name }}</a>
                                    </td>
                                    <td class="text-center">{{ group.group_des }}</td>
                                    <td class="text-center">
                                        {% if  group.activate == 0 %}
                                            未激活
                                        {% elif  group.type == 1 %}
                                            已激活

                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if group.type == 0 %}
                                            预定义
                                        {% elif  group.type == 1 %}
                                           自定义
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="/assets_mod/{{ group.group_id }}" style="text-decoration:none;">
                                            <button type="button" class="btn btn-default"><abbr title="修改资料"><i
                                                    class="glyphicon glyphicon-edit"></i></abbr></button>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="/assets_view/{{ group.group_id }}" style="text-decoration:none;">
                                            <button type="button" class="btn btn-default"><abbr title="查看详细信息"><i
                                                    class="glyphicon glyphicon-info-sign"></i></abbr></button>
                                        </a>

                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-default"
                                                onclick="deleteAssets(this,{{ group.group_id }})"><i
                                                class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        <div class="well">
                            <h4>设备资产更新说明</h4>
                            <ol>
                                <li><p>点击<i class="glyphicon glyphicon-info-sign"></i>查看设备资产明细</li>
                                <li><p>点击<i class="glyphicon glyphicon-refresh"></i>更新设备信息</p></li>
                                <li><p>点击<i class="glyphicon glyphicon-edit"></i>编辑设备信息</p></li>
                                <li><p>点击<i class="glyphicon glyphicon-trash"></i>删除设备信息</p></li>
                            </ol>


                            <a class="btn btn-default btn-lg btn-block" target="_blank" href="/assets_add"><i
                                    class="fa fa-plus-circle "></i>新增资产</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <div class="modal fade" id="myAssetsImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Excel文件批量导入资产</h4>
                    </div>
                    <form role="form" method="post"
                          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          enctype="multipart/form-data" action='/assets_import/'
                          class="main form-horizontal">{% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上传文件</label>
                                <div class="col-sm-6">
                                    <input type="file" name="import_file" placeholder="上传excel文件" required/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">导入</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <!-- /#wrapper -->
    <!--    弹窗开始样式 -->
    <script src="/static/dist/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/xcConfirm.css"/>
    <!--   csrf -->
    <script src="/static/js/csrf.js"></script>

    <script type="text/javascript">
        var curpage = 1;
        $(document).ready(function () {

            //业务类型
            $('#selBusiness').change(function () {
                if ($('#selBusiness').val() != "") {
                    $("#hdnBusiness").val($('#selBusiness').val());
                    var span = "<span class='label label-success' id='spanBusiness'>" + $("#selBusiness").find("option:selected").text()
                        + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='business' type='hidden' value='"
                        + $('#selBusiness').val() + "' /></span> &nbsp;";
                    if ($("#spanBusiness").length == 0) {
                        $('#divSelectedType').append(span);
                    } else {
                        $("#spanBusiness").html($("#selBusiness").find("option:selected").text()
                            + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='business' type='hidden' value='"
                            + $('#selBusiness').val() + "' /></span> &nbsp;");
                    }
                    changepage(1);
                }
            })

            //设备状态
            $('#selStatus').change(function () {
                if ($('#selStatus').val() != "") {
                    $("#hdnStatus").val($('#selStatus').val());
                    var span = "<span class='label label-success' id='spanStatus'>" + $("#selStatus").find("option:selected").text()
                        + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='status' type='hidden' value='"
                        + $('#selStatus').val() + "' /></span> &nbsp;";
                    if ($("#spanStatus").length == 0) {
                        $('#divSelectedType').append(span);
                    } else {
                        $("#spanStatus").html($("#selStatus").find("option:selected").text()
                            + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='status' type='hidden' value='"
                            + $('#selStatus').val() + "' /></span> &nbsp;");
                    }
                    changepage(1);
                }
            })
            //ip地址
            $('#ip').change(function () {
                if ($('#ip').val() != "") {
                    var span = "<span class='label label-success' id='spanIp'>" + $("#ip").val()
                        + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='ip' type='hidden' value='"
                        + $('#ip').val() + "' /></span> &nbsp;";
                    if ($("#spanIp").length == 0) {
                        $('#divSelectedType').append(span);
                    } else {
                        $("#spanIp").html($("#ip").val()
                            + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='ip' type='hidden' value='"
                            + $('#ip').val() + "' /></span> &nbsp;");
                    }
                    changepage(1);
                }
            })

        })

        function changepage(pageindex) {
            curpage = pageindex;
            search_go();
        }

        function removeself(obj) {
            $(obj).parent().remove();
            changepage(1);
        }


    </script>

    <script type="text/javascript">

        var selectState = false;


        var downLoadFile = function (options) {
            var config = $.extend(true, {method: 'post'}, options);
            var $iframe = $('<iframe id="down-file-iframe"/>');
            var $form = $("<form target='down-file-iframe' method=" + config.method + " />");
            $form.attr('action', config.url);
            for (var key in config.data) {
                console.log('<input type="hidden" name="' + key + '" value="' + config.data[key] + '"/>');
                $form.append('<input type="hidden" name="' + key + '" value="' + config.data[key] + '"/>');
            }
            $form.append('{% csrf_token %}');
            $iframe.append($form);
            $(document.body).append($iframe);
            $form[0].submit();
            $iframe.remove();
        };

        function fcDumpsAssetsData(obj) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var serverId = [];
            var url = "/assets/batch/dumps/";
            $.each($("input[name='ckbox']:checkbox"), function () {
                if (this.checked) {
                    serverId.push($(this).val());
                }
            })
            if (serverId.length > 0) {
                var data = {
                    'assetsIds': serverId,
                };
                downLoadFile({ //调用下载方法
                    url: url, data: data
                });
            } else {
                window.wxc.xcConfirm("至少选择一个资产~", window.wxc.xcConfirm.typeEnum.error);
            }
            btnObj.removeAttr('disabled');
        }


        function updateAllAssets(obj, model) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var serverId = [];
            var qcheck = document.getElementsByName("ckbox");
            for (var i = 0; i < qcheck.length; i++) {
                if (qcheck[i].checked == true) {
                    serverId.push(qcheck[i].value);
                }
            }
            if (model == 'update') {
                var url = '/assets/batch/update/'
            } else if (model == 'delete') {
                var url = '/assets/batch/delete/'
            }
            if (serverId.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: "json",
                    data: {
                        'assetsIds': serverId,
                    },
                    success: function (response) {
                        var sip = '';
                        var fip = '';
                        var modal = '';
                        for (var i = 0; i < response['data']['success'].length; i++) {
                            sip += response['data']['success'][i] + '<br>'
                        }
                        for (var i = 0; i < response['data']['failed'].length; i++) {
                            fip += response['data']['failed'][i] + '<br>'
                        }
                        msg = '成功：' + '<br>' + sip + '<br>' + '失败：' + '<br>' + fip;
                        if (response['code'] == 200) {
                            window.wxc.xcConfirm(msg, window.wxc.xcConfirm.typeEnum.success);
                        } else {
                            window.wxc.xcConfirm(msg, window.wxc.xcConfirm.typeEnum.error);
                        }
                        btnObj.removeAttr('disabled');
                    },
                    error: function (response) {
                        btnObj.removeAttr('disabled');
                        window.wxc.xcConfirm("更新失败！", window.wxc.xcConfirm.typeEnum.error);
                    }
                });
            } else {
                window.wxc.xcConfirm("至少选择一个资产~", window.wxc.xcConfirm.typeEnum.error);
                btnObj.removeAttr('disabled');
            }
        }




        function deleteAssets(obj, id) {
            var txt = "是否确认删除？";
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var option = {
                title: "删除当前资产",
                btn: parseInt("0011", 2),
                onOk: function () {
                    $.ajax({
                        dataType: "JSON",
                        type: "POST",  //提交类似
                        url: '/assets_list/',
                        data: {'op': 'del', 'assets_id': id},
                        success: function (response) {
                            btnObj.removeAttr('disabled');
                            window.wxc.xcConfirm("删除成功", window.wxc.xcConfirm.typeEnum.success);
                            location.reload('/assets_list/');
                        },
                        error: function (response) {
                            btnObj.removeAttr('disabled');
                            window.wxc.xcConfirm("删除失败！", window.wxc.xcConfirm.typeEnum.error);
                        }
                    });
                },
                onCancel: function () {
                },
                onClose: function () {
                }
            }
            window.wxc.xcConfirm(txt, "custom", option);
        }


    </script>

{% endblock %}

