{% extends 'index.html' %}
{% block ace-content %}
    <script type="text/javascript" src="/static/dist/js/bootstrap-notify.js"></script>
{% endblock %}
{% block page-content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa   fa-dashboard"></i>基线合规策略</h1>
            </div>
        </div>
        <!--    策略组 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-database"></i>基线策略组详细信息

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <legend>基本信息</legend>
                        <h4>名称 ：{{ group.group_name }}</h4>
                        <h4>类型 ：
                            {% if group.type == 0 %}
                                设备
                            {% elif group.type == 1 %}
                                接口
                            {% elif group.type == 2 %}
                                配置
                            {% endif %}
                        </h4>
                        <h4>描述 ：{{ group.group_des }}</h4>
                        <br>
                        <legend>规则列表</legend>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="assetsListTable">
                            <thead>
                            <tr>
                                <th class="text-center">名称</th>
                                <th class="text-center">描述</th>
                                <th class="text-center">违规级别</th>
                                <th class="text-center">检查类型</th>
                                <th class="text-center">测试</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for rule in  rulelist %}
                                <tr>
                                    <td class="text-center">
                                        <a herf="#" onclick="RegexManageDetail({{ rule.rule_id }})"
                                           style="text-decoration:none;">{{ rule.rule_name }}</a>
                                    </td>
                                    <td class="text-center">{{ rule.rule_des }}</td>
                                    <td class="text-center">
                                        {% if rule.rule_severity == 0 %}
                                            通知
                                        {% elif  rule.rule_severity == 1 %}
                                            警告
                                        {% elif  rule.rule_severity == 2 %}
                                            次要
                                        {% elif  rule.rule_severity == 3 %}
                                            重要
                                        {% elif  rule.rule_severity == 4 %}
                                            紧急
                                        {% else %}
                                            未定义
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if rule.check_type == 0 %}
                                            设备
                                        {% elif rule.check_type == 1 %}
                                            接口
                                        {% elif rule.check_type == 2 %}
                                            配置
                                        {% else %}
                                            未定义
                                        {% endif %}

                                    </td>

                                    <td class="text-center">
                                        <a href="/assets_mod/{{ rule.id }}" style="text-decoration:none;">
                                            <button type="button" class="btn btn-default"><abbr title="修改资料"><i
                                                    class="glyphicon glyphicon-edit"></i></abbr></button>
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <div class="modal fade " id="RegexManageDetail" tabindex="-1" role="dialog" aria-labelledby="RegexManageAdd"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        </button>
                        <h4 class="modal-title" id="RegexManageAdd">
                            规则信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h5>基本信息</h5>
                        <form class="form-horizontal" role="form" id="rule">
                            <!-- 名称 -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>名称</strong></label>
                                <div class="col-sm-6">
                                    <label class="control-label" type="text" id="rule_name"/>
                                </div>
                            </div>
                            <!-- 违规级别 -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>违规级别</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="rule_severity" disabled="disabled">
                                        <option selected="selected" value="">请选择</option>
                                        <option value="0" name="type">通知</option>
                                        <option value="1" name="type">警告</option>
                                        <option value="2" name="type">次要</option>
                                        <option value="3" name="type">重要</option>
                                        <option value="4" name="type">紧急</option>
                                    </select>

                                </div>
                            </div>
                            <!-- 检查类型 -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>检查类型</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="check_type" disabled="disabled">
                                        <option selected="selected" value="">请选择</option>
                                        <option value="0" name="type">设备</option>
                                        <option value="1" name="type">接口</option>
                                        <option value="2" name="type">配置</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 开始标识 -->
                            <div class="form-group" id="check_content_start_div" style="display:none;">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>开始标识</strong></label>
                                <div class="col-sm-6">
                                 <textarea type="text" class="form-control" id="check_content_start"
                                           placeholder="例如：interface" value="" class="input-xlarge"></textarea>
                                </div>
                            </div>
                            <!-- 结束标识 -->
                            <div class="form-group" id="check_content_end_div" style="display:none">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>结束标识</strong></label>
                                <div class="col-sm-6">
                                 <textarea type="text" class="form-control" id="check_content_end" name="asset_mark"
                                           placeholder="例如：#或者!" value="" class="input-xlarge"></textarea>
                                </div>
                            </div>
                            <!-- 检查目标 -->
                            <div class="form-group" id="check_content_div">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>检查目标</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="check_content" disabled="disabled">
                                        <option selected="selected" value="">请选择</option>
                                        <option value="1" name="check_content">配置文件</option>
                                        <option value="2" name="check_content">命令执行结果</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 命令 -->
                            <div class="form-group" id="command_div" style="display: none">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>命令</strong></label>
                                <div class="col-sm-6">
                                 <textarea type="text" class="form-control" id="command" name="command"
                                           placeholder="如 dispaly XXX" value="" class="input-xlarge"></textarea>
                                </div>
                            </div>
                            <!-- 设备厂商 -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>设备厂商</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="support_firm" disabled="disabled">
                                        <option selected="selected" value="">请选择</option>
                                        <option value="True" name="assets_type">配置文件</option>
                                        <option value="False" name="assets_type">命令执行结果</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 描述 -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>描述</strong></label>
                                <div class="col-sm-6">
                                 <textarea type="text" class="form-control" id="rule_des" name="rule_des"
                                           placeholder="描述" value="" class="input-xlarge"
                                           disabled="disabled"></textarea>
                                </div>
                            </div>

                            <h5>匹配模式</h5>
                            <!-- 规则类型 -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>规则类型</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="rule_standard" disabled="disabled">
                                        <option value="0" selected="selected" id="rule_standard">简单</option>
                                        <option value="1" id="rule_standard">高级</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 执行方法 -->
                            <div class="form-group" id="ExecMethod_div" style="display: none">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>执行方法</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="exec_method"
                                            onchange="javascript:execmethod_select()">
                                        <option selected="selected" value="0">检查</option>
                                        <option value="1">检查并提取</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form" id="rule_contentlist">
                            <!-- 规则关系 -->
                            <div class="form-group" id="RuleRelation_div" style="display: none">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>规则关系</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="rule_relation"
                                            onchange="javascript:type_select()">
                                        <option selected="selected" value="">请选择</option>
                                        <option value="0" name="type">AND</option>
                                        <option value="1" name="type">OR</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 匹配模式 -->
                            <div class="form-group" id="SplRuleCfg_div">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>匹配模式</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="spl_rule_cfg">

                                        <option selected="selected" value="">请选择</option>

                                        <option value="0" name="type">模糊匹配</option>

                                        <option value="1" name="type">模糊不匹配</option>

                                        <option value="2" name="type">精确匹配</option>

                                        <option value="2" name="type">精确不匹配</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="AdvRuleCfg_div" style="display: none">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>匹配模式</strong></label>
                                <div class="col-sm-6">
                                    <select class="form-control center" id="adv_rule_cfg" disabled="disabled">

                                        <option selected="selected" value="">请选择</option>

                                        <option value="0" name="type">全部包含</option>

                                        <option value="1" name="type">部分包含</option>

                                        <option value="2" name="type">全部不包含</option>

                                        <option value="2" name="type">部分不包含</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 规则内容 -->
                            <div class="form-group " id="RuleContent_div">
                                <label class="col-sm-3 control-label no-padding-right"
                                       for="form-field-4"><font color='red'>* </font><strong>规则内容</strong></label>
                                <div class="col-sm-6">
                                 <textarea type="text" class="form-control" id="rule_content"
                                           placeholder="如 dispaly XXX" value="" class="input-xlarge"></textarea>
                                </div>
                                <div class="col-sm-3" id="addruleconent" style="display: none">
                                    <button type="button" class="btn btn-default" onclick="addRuleContent()">增加规则
                                    </button>
                                </div>
                            </div>

                        </form>
                        <!-- 规则列表 -->
                        <div class="form-group" id="RuleList_div" style="display: none">
                            <table width="100%" id="RuleList_table"
                                   class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">规则关系</th>
                                    <th class="text-center">匹配模式</th>
                                    <th class="text-center">规则内容</th>
                                    <th class="text-center">提取值得对比方式</th>
                                    <th class="text-center">提取值得对比值</th>
                                </tr>
                                </thead>

                                <tbody>

                                </tbody>

                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" onclick="addrule(this)">
                                添加
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>

    </div>
    <!-- /#wrapper -->
    <!--    弹窗开始样式 -->
    <script src="/static/dist/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/xcConfirm.css"/>
    <!--   csrf -->
    <script src="/static/js/csrf.js"></script>

    <script type="text/javascript">

        function RegexManageDetail(group_id) {
            $.ajax({
                dataType: "JSON",
                url: '/baseline/RegexRuleDetail/', //请求地址
                type: "POST",  //提交类似
                data: {'rule_id': group_id},
                success: function (response) {
                    $('#rule_name').text(response.rule['rule_name'])
                    $('#rule_severity').val(response.rule['rule_severity'])
                    $('#check_type').val(response.rule['check_type'])
                    $('#check_content').val(response.rule['check_content'])
                    $('#rule_des').text(response.rule['rule_des'])
                    $('#support_firm').val(response.rule['support_firm'])
                    $('#rule_standard').val(response.rule['rule_standard'])
                    if (response.rule['check_type'] == 1 || response.rule['check_type'] == 2) {
                        $('#check_content_start').text(response.rule['check_content_start'])
                        $('#check_content_end').text(response.rule['check_content_end'])
                        $('#check_content_start_div').show()
                        $('#check_content_end_div').show()
                    }
                    if (response.rule['rule_standard'] == 0) {
                        $.each(response.rulecontent, function (i, item) {

                            $('#spl_rule_cfg').val(item['spl_rule_cfg'])
                            $('#rule_content').text(item['rule_content'])
                        })
                    } else if (response.rule['rule_standard'] == 1) {
                        var rule_relation = ""
                        var ruletype = ""
                        $('#RuleList_table tbody').html("")
                        $.each(response.rulecontent, function (i, item) {
                            if (item['adv_rule_cfg']== 0)
                            {
                                ruletype ="全部包含"
                            }
                            else if(item['adv_rule_cfg']== 1){
                                ruletype ="部分包含"
                            }
                            else if(item['adv_rule_cfg']== 2){
                                ruletype ="全部不包含"
                            }
                            else if(item['adv_rule_cfg']== 3){
                                ruletype ="部分不包含"
                            }
                             if (item['rule_relation']== 0)
                            {
                                rule_relation ="AND"
                            }
                            else if(item['adv_rule_cfg']== 1){
                                rule_relation ="OR"
                            }
                            else if(item['adv_rule_cfg']== null){
                                rule_relation =""
                            }
                            else if(item['adv_rule_cfg']== 3){
                                ruletype ="部分不包含"
                            }
                            $('#RuleList_table').append(
                                '<tr>\n' +
                                ' <th class="text-center">' + rule_relation + '</th>\n' +
                                ' <th class="text-center">' + ruletype + '</th>\n' +
                                '<th class="text-center">' + item['rule_content'] + '</th>\n' +
                                '<th class="text-center"></th>\n' +
                                '<th class="text-center"></th>\n' +
                                '</tr>'
                            )

                            $('#rule_content').text(item['rule_content'])
                        })
                        $('#SplRuleCfg_div').hide()
                        $('#RuleContent_div').hide()
                        $('#RuleList_div').show()


                    }
                    $('#RegexManageDetail').modal('show')
                },
                error: function (response) {
                    alert('失败')
                    alert(response['rule'])
                }
            })
        }

    </script>


{% endblock %}

