{% extends 'index.html' %}
{% block ace-content %}
<script type="text/javascript" src="/static/dist/js/bootstrap-notify.js"></script>
{% endblock %}
{% block page-content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa  fa-cogs "></i> 线路资产配置</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa  fa-flash"></i> 出口线路
                    </div>
                    <div class="panel-body">
                            <button type="button" class="btn btnbtn-xs btn-default" data-toggle="modal" data-target="#myLineModal"><i class="glyphicon glyphicon-plus">新增</i></button>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">

                            <div>
                                <table class="table  table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>线路名称</th>
                                        <th>线路对端IP</th>
                                        <th>主备状态</th>
                                        <th class="right">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ds in baseAssets.line %}
                                        <tr>
                                            <td>{{ ds.id }}</td>
                                            <td>{{ ds.line_name }}</td>
                                            <td>{{ ds.line_ip }}</td>
                                            <td>{{ ds.line_is_master }}</td>
                                            <td>
                                                <button type="button" class="btn btn-xs btn-default"
                                                        onclick="modfAssetspage(this,{{ ds.id }},'{{ ds.line_name }}','{{ ds.line_ip }}','{{ ds.line_is_master }}')">
                                                    <abbr title="编辑"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button type="button" class="btn btn-xs btn-default"
                                                        onclick="delAssetsData(this,{{ ds.id }})"><abbr title="删除"><i
                                                        class="glyphicon glyphicon-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>
    </div>



    <div class="modal fade " id="myLineModal" tabindex="-1" role="dialog" aria-labelledby="myLineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    </button>
                    <h4 class="modal-title" id="myLineModalLabel">
                        添加出口线路
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="line_assets">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><font color='red'>* </font><strong>线路名称</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" id="line_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><font color='red'>* </font><strong>对端IP地址</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" id="line_ip"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><font color='red'>* </font><strong>主用状态</strong></label>
                            <div class="col-sm-6">
                                <select class="form-control center" id="line_is_master">
                                    <option selected="selected" value="">请选择</option>
                                    <option value="True" name="assets_type">主</option>
                                    <option value="False" name="assets_type">备</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addAssetsData(this,'line')">
                        添加
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="modLineModal" tabindex="-1" role="dialog" aria-labelledby="modLineModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myLineModalLabel">
                        修改出口线路
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="line_assets">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>线路ID</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" readonly unselectable="on" type="text" id="modfline_id"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>出口线路</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" readonly unselectable="on" id="modfline_name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>对端IP地址</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" id="modfline_ip"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>主用状态</strong></label>
                            <div class="col-sm-6">
                                <select class="form-control center" id="modfline_is_master">
                                    <option selected="selected" value="">请选择</option>
                                    <option value="True" name="assets_type">主</option>
                                    <option value="False" name="assets_type">备</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="modfAssetsData(this)">
                        修改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



    <script type="text/javascript">


        function addAssetsData(obj) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var post_data = {};
            var putUrl = '/assets_line/';
            var line_name = document.getElementById("line_name").value
            var line_ip = document.getElementById("line_ip").value
            var line_is_master = document.getElementById("line_is_master").value
            $.ajax({
                dataType: "JSON",
                url: putUrl, //请求地址
                type: "POST",  //提交类似
                data: {'op': 'add', 'line_name': line_name, 'line_ip': line_ip, 'line_is_master': line_is_master}, //提交参数
                success: function (response) {
                    if (response.code == 502)
                    {
                        btnObj.removeAttr('disabled');
                        $.notify({
                                title: "<strong>资产添加错误:</strong><br>",
                                message: response.msg
                            },
                            {
                                type: 'danger',
                                delay: 5000
                            });
                        $(myLineModal).modal('hide');

                    }
                    else if (response.code ==400)
                        window.wxc.xcConfirm(response.msg, window.wxc.xcConfirm.typeEnum.success, {
                        onOk: function () {
                            location.reload();
                        }
                    });
                },
                error: function (response) {
                    btnObj.removeAttr('disabled');
                   window.wxc.xcConfirm(response.msg, window.wxc.xcConfirm.typeEnum.error);
                    /* 	    		location.reload(); */
                }
            })
        }


        function modfAssetspage(obj, id, name, ip, is_master) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var post_data = {};
            $(modfline_id).val(id);
            $(modfline_name).val(name);
            $(modfline_ip).val(ip);
            $(modfline_is_master).val(is_master);
            $(modLineModal).modal('show');

        }

        function modfAssetsData(obj) {
            var btnObj = $(obj);
            var putUrl = '/assets_line/';
            btnObj.attr('disabled', true);
            line_id = document.getElementById("modfline_id").value;
            line_name = document.getElementById("modfline_name").value;
            line_ip = document.getElementById("modfline_ip").value;
            line_is_master = document.getElementById("modfline_is_master").value;
            $.ajax({
                dataType: "JSON",
                url: putUrl, //请求地址
                type: "POST",  //提交类似
                data: {
                    'op': 'mod',
                    'line_id': line_id,
                    'line_name': line_name,
                    'line_ip': line_ip,
                    'line_is_master': line_is_master
                }, //提交参数
                success: function (response) {
                    btnObj.removeAttr('disabled');
                    window.wxc.xcConfirm(response.msg, window.wxc.xcConfirm.typeEnum.success, {
                        onOk: function () {
                            location.reload();
                        }

                    });

                },
                error: function (response) {
                    btnObj.removeAttr('disabled');
                    window.wxc.xcConfirm("系统错误", window.wxc.xcConfirm.typeEnum.error);
                    /* 	    		location.reload(); */
                }
            })
        }

        function delAssetsData(obj, id) {
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var txt = "是否确认删除？";
            var putUrl = '/assets_line/';
            var option = {
                title: "id-" + id,
                btn: parseInt("0011", 2),
                onOk: function () {
                    $.ajax({
                        dataType: "JSON",
                        type: 'POST',
                        url: putUrl,
                        data: {'op': 'del', 'id': id},
                        success: function (response) {
                            btnObj.removeAttr('disabled');
                            window.wxc.xcConfirm("删除成功！", window.wxc.xcConfirm.typeEnum.success,
                                {
                                    onOk: function () {
                                        location.reload();
                                    }

                                });
                        },
                        error: function (response) {
                            btnObj.removeAttr('disabled');
                            window.wxc.xcConfirm("删除失败！", window.wxc.xcConfirm.typeEnum.error);
                        }
                    });
                },
                onCancel: function () {
                },
                onClose: function () {
                }
            }
            window.wxc.xcConfirm(txt, "custom", option);
        }

    </script>
{% endblock %}
