{% extends 'index.html' %}
{% block page-content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa  fa-signal"></i> 设备资产详细内容</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	 <i class="fa fa-institution    fa-fw"></i> 总资产
                        </div>
                        <div class="panel-body">
							<div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-th-list fa-fw"></i> 设备类型
                                    <span class="pull-right text-muted small">
                                     		 {% if asset_main.assets_type == "server" %}
									         		<code>服务器</code>
									         {% elif asset_main.assets_type == "vmser" %}
									         		<code>虚拟机</code>
									         {% elif asset_main.assets_type == "switch" %}
									         		<code>交换机</code>							         				
									         {% elif asset_main.assets_type == "route" %}
									         		<code>路由器</code>
									         {% elif asset_main.assets_type == "firewall" %}
									         		<code>防火墙</code>
									         {% elif asset_main.assets_type == "storage" %}
									         		<code>存储设备</code>
									         {% endif %}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-heart fa-fw"></i> 资产编号
                                    <span class="pull-right text-muted small"><em>{{ asset_main.name|default:"" }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> 设备序列号
                                    <span class="pull-right text-muted small"><em>{{ asset_main.sn|default:"" }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa  fa-users fa-fw"></i> 购买人
                                    <span class="pull-right text-muted small">
                                    	<em>
                                    		{% for user in userList %}
												{% if asset_main.buy_user == user.id %}
														{{user.username}}
												{% endif %}   
											{% endfor %}                                 		
                                    	</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="glyphicon glyphicon-globe  "></i> 管理IP
                                    <span class="pull-right text-muted small"><code>{{ asset_main.management_ip|default:"" }}</code>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-car fa-fw"></i>制造商
                                    <span class="pull-right text-muted small"><em>{{ asset_main.manufacturer|default:"" }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i>设备型号
                                    <span class="pull-right text-muted small"><em>{{ asset_main.model|default:"" }}</em>
                                    </span>
                                </a>
                                  <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i>备注
                                    <span class="pull-right text-muted small"><em>{{ asset_main.mark|default:"" }}</em>
                                    </span>
                                </a>

                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           	 <i class="fa fa-table  fa-fw"></i> 硬件信息
                        </div>
                        <div class="panel-body">
                        {% if asset_type == "server" or asset_type == "vmser" %}
							<div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-globe fa-fw"></i> 服务器IP地址
                                    <span class="pull-right text-muted small"><code>{{ asset_body.ip|default:"" }}</code>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-graduation-cap  fa-fw"></i> 主机名
                                    <span class="pull-right text-muted small"><em>{{ asset_body.hostname|default:"" }}</em>
                                    </span>
                                </a>


                            </div>    
                         {% else %}
							<div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-globe fa-fw"></i> IP地址
                                    <span class="pull-right text-muted small"><code>{{ asset_body.ip|default:"" }}</code>
                                    </span>
                                </a>
                               <a href="#" class="list-group-item">
                                    <i class="fa fa-user-md   fa-fw"></i> 设备名称
                                    <span class="pull-right text-muted small"><em>{{ asset_body.hostname|default:"" }}</em>
                                    </span>
                                </a>     
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> 端口
                                    <span class="pull-right text-muted small"><em>{{ asset_body.port|default:"" }}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> 端口个数
                                    <span class="pull-right text-muted small"><em>{{ asset_body.port_number|default:"" }}</em>
                                    </span>
                                </a>
                                 <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> 主备状态
                                    <span class="pull-right text-muted small"><em>{{ asset_body.is_master}}</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> 配置说明
                                    <span class="pull-right text-muted small"><em>{{ asset_body.configure_detail|default:"" }}</em>
                                    </span>
                                </a>                                                                                                                                                                                               
                            </div>                           	
                         {% endif %}                    
                        </div>
                    </div>
                </div>
             </div>

</div>
{% endblock %}